.uibutton{
    border-radius: 4px;
     text-decoration: none;
      padding: 8px 10px;
       white-space: nowrap;
        background-color: unset;
}

.uiButton--bordered-primary{
    color: #3498DB;
     border: 1px solid #3498DB;
}

.uiButton--contained-success{
    background-color: #2ECC71;
     color: #FFFFFF;
      border: 1px solid #2ECC71;
}

.uiButton--bordered-warning{
    color: #E5AE08;
     border: 1px solid #E5AE08;
}
