.PromotionFormGroup{
    display: flex;
     flex-direction: column;
      margin-bottom: 15px;
}

.PromotionFormGroup label{
    margin-bottom: 5px;
     font-size: 14px;
      font-weight: 500px;
       color: #555555;
}

.PromotionFormGroup input{
    border: 1px solid #AAAAAA;
     border-radius: 8px;
      background-color: #FFFFFF;
       height: 36px;
        padding: 0 10px;
}

.PromotionFormGroupButton{
    display: flex;
     justify-content: space-between;
}