.promotionCard {
  border-radius: 8px;
  border: 1px solid #c3c3c3;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
  display: flex;
  padding: 15px;
  align-items: flex-start;

}
.promotionCardImage{
    max-width: 100px;
    margin-right: 20px;
}
.promotionCardTitle{
  font-size: 16px;
  color: #50342c;
}

.promotionCardPrice{
  font-size:26px;
  font-weight: 700;
  color: #3498db;

}
.promotionCardFooter{
  display: flex;
  align-items: center;

}
.promotionCardComment{
  color: #95a5a6;
  font-weight: 700;
}
.promotionCardCommentsCount{
  margin-left: auto;
  margin-right: 20px;
  color: #3498db
}
.promotionCardLink{
  border: 1px solid #3498db;
  border-radius:4px;
  color: #3498db;
  text-decoration: none;
  padding: 8px 10px;
}
.promotionCardButton{
  margin-left:10px;
  
}























